@import "~antd/dist/antd.css";

[data-theme="compact"] .ant-drawer-body p {
  margin-bottom: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.f_common {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.f_common:hover {
  color: red;
}
.f_common > p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 40%;
  overflow: hidden;
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.f_common > svg {
  transform: rotate(225deg);
  font-size: 22px;
  font-weight: lighter;
}
