@import "~antd/dist/antd.css";

[data-theme="compact"] .ant-drawer-body p {
  margin-bottom: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.f_common {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.f_common:hover {
  color: red;
}
.f_common > p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 40%;
  overflow: hidden;
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.f_common > svg {
  transform: rotate(225deg);
  font-size: 22px;
  font-weight: lighter;
}
.Searchbarwrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 10px 10px 10px;
  position: relative;
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .searchBar {
  width: 100%;
  border: 1px solid black;
} */
.searchBar form {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}
.searchBar .icons {
  margin-right: 10px;
  background: transparent;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  color: rgb(154 151 151);
}
.searchBar input {
  width: 50%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  color: #333;
  background: #fff;
  transition: all 0.3s;
  width: 70%;
}
.filterArea {
  margin-left: 50px;
}
.filterAndSortButton {
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 248, 0.25);
  transition: 500ms;
  animation: input-shadow ease 2s infinite;
}
@keyframes input-shadow {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: 0px 2px 30px 5px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0px 2px 30px 5px rgba(0, 255, 0, 0.5);
  }
  75% {
    box-shadow: 0px 2px 30px 5px rgba(57, 143, 255, 0.5);
  }
  100% {
    box-shadow: none;
  }
}
.filterAndSortButton:hover {
  box-shadow: 0 10px 60px 0 rgba(0, 0, 248, 0.25);
}
.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.singleProd {
  min-height: 30vh;
  width: 250px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}
.singleProd:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.commonProduct {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoBoxWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.imgBox {
  height: 200px;
  width: 90%;
}
.imgBox > img {
  height: 100%;
  width: 100%;
}
.infoBox {
  padding: 10px 0px 0px 0px;
}
.infoBox .Prodname p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.pagesCountBar {
  display: inline;
  float: right;
  margin-right: 25px;
}
.pagination {
  margin: 2px;
  cursor: pointer;
}
.minMaxWrapper {
  display: flex;
  gap: 20px;
}
