@import "~antd/dist/antd.css";

[data-theme="compact"] .ant-drawer-body p {
  margin-bottom: 0;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  margin-top: 63px;
}
.f_common {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.f_common:hover {
  color: red;
}
.f_common > p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: 20px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 40%;
  overflow: hidden;
  padding: 0 5px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.f_common > svg {
  transform: rotate(225deg);
  font-size: 22px;
  font-weight: lighter;
}
.Searchbarwrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 10px 10px 10px;
  position: relative;
}
.searchBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.searchBar form {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  border-radius: 25px;
}
.searchBar .icons {
  margin-right: 10px;
  background: transparent;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  color: rgb(154 151 151);
}
.searchBar input {
  width: 50%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
  color: #333;
  background: #fff;
  transition: all 0.3s;
  width: 70%;
}
.filterArea {
  margin-left: 50px;
}
.filterAndSortButton {
  height: 44px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 5px 60px 0 rgba(0, 0, 248, 0.25);
  transition: 500ms;
  animation: input-shadow ease 2s infinite;
}
@keyframes input-shadow {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: 0px 2px 30px 5px rgba(255, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0px 2px 30px 5px rgba(0, 255, 0, 0.5);
  }
  75% {
    box-shadow: 0px 2px 30px 5px rgba(57, 143, 255, 0.5);
  }
  100% {
    box-shadow: none;
  }
}
.filterAndSortButton:hover {
  box-shadow: 0 10px 60px 0 rgba(0, 0, 248, 0.25);
}
.Products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.singleProd {
  min-height: 30vh;
  width: 250px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  background: white;
}
.singleProd:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.commonProduct {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoBoxWrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.imgBox {
  height: 200px;
  width: 90%;
}
.imgBox > img {
  height: 100%;
  width: 100%;
}
.infoBox {
  padding: 10px 0px 0px 0px;
}
.infoBox .Prodname p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.pagesCountBar {
  display: inline;
  margin-right: 25px;
}
.pagination {
  margin: 2px;
  cursor: pointer;
}
.minMaxWrapper {
  display: flex;
  gap: 50px;
}
#rowHeight {
  height: 40vh !important;
}
/* product detail [age */
.ProductDetail {
  padding: 10px;
  transition: 0.3s ease;
  background: white;
  height: 100vh;
}
.SmallimgSize {
  height: 350px !important;
}
.productImage,
.productDetails,
.addtoCart {
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.425), 0 1px 2px 0 rgba(0, 0, 0, 0.473);
}
.addtoCart {
  height: 20vh;
  border-radius: 5px;
}
.smallImg > img {
  height: 400px !important;
}
.prodRating {
  border-bottom: 1px solid gray;
}
.prodQuantity > p {
  font-weight: bold;
  font-size: 20px;
}
.prodQuantity select {
  width: 100%;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  transition: all 0.3s;
  outline: none;
  margin-top: 10px;
}
.addToCartWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addToCartWrapper button {
  border: 1px solid #3f51b5;
}
.relatedProductsList {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  transition: 0.6s ease;
  padding: 20px 30px;
  box-shadow: 0px 0px 4px grey;
  border-radius: 5px;
}
/* .relatedProductsList::-webkit-scrollbar {
  display: none;
} */

.prod {
  /* height: 200px; */
  width: 250px;
  padding: 10px;
  vertical-align: top;
  margin-right: 20px;
  white-space: normal;
}
.wrapperSuggestedProduct {
  position: relative;
  display: flex;
}

.scrollLeftOnClick {
  position: absolute !important;
  top: 20% !important;
  left: 0;
  background: rgba(195, 195, 195, 0.548) !important;
  height: 50% !important;
  border-radius: 0px 8px 8px 0px !important;
  color: black !important;
  z-index: 998 !important;
}
.scrollRightOnClick {
  position: absolute !important;
  top: 20% !important;
  right: 0;
  background: rgba(195, 195, 195, 0.548) !important;
  height: 50% !important;
  border-radius: 8px 0px 0px 8px !important;
  z-index: 999 !important;
  color: black !important;
}
.scrollRightOnClick svg,
.scrollLeftOnClick svg {
  transform: scale(1.5);
}
#style-7::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

#style-7::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  height: 7px;
}

#style-7::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}
.w_prod {
  padding: 10px 5px;
}
.w_commonProduct {
  background-color: white;
  border-radius: 5px;
  gap: 20px;
  width: 60%;
  box-shadow: 0 0 12px 4px rgba(130, 130, 130, 0.583);
}
.w_commonProduct {
  display: flex;
}
.w_imgBox {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w_imgBox > img {
  width: 90%;
  height: 90%;
  border-radius: 5px;
}
.removeForLike {
  z-index: 9999999;
}
.nameAndDesc {
  width: 50%;
}
.priceCIS {
  margin-top: 5px;
  width: 22%;
}
.w_price-after,
.w_CIS {
  font-size: 15px;
  font-weight: bold;
}
.removeForLike {
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.removeForLike svg {
  transform: scale(1.3);
  color: red;
}
/* write media query for small device */
@media (max-width: 1000px) {
  .addtoCart {
    height: 30vh;
  }
}
@media (max-width: 750px) {
  .w_commonProduct {
    width: 90%;
  }
}
/* navbar */
.noOfWislistItems {
  height: 23px;
  width: 29px;
  margin-left: 5px;
  font-weight: bolder;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
